@using Nashet.Data.Models
@model tblMembership 
<div class="card">
    <div class="card-header">
        <h1>Insert KFU User </h1>
    </div>
    <div class="card-body">
        <form asp-action="InsertKfuUser" method="post">
            <div class="row">
                <div class="col-md-4">
                    <label for="Username">User Name</label>
                    <input asp-for="Username" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="Password">Password</label>
                    <input asp-for="Password" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="UserEmail"> Email</label>
                    <input asp-for="UserEmail" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="UserType">User Type</label>
                    <input asp-for="UserType" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="NameEn"> Name</label>
                    <input asp-for="NameEn" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="NameAr"> Name Ar</label>
                    <input asp-for="NameAr" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="CollegeCode"> College Code </label>
                    <input asp-for="CollegeCode" class="form-control" />
                </div>
            </div>


            <br />
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>