@model ActivityViewModel
<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">إضافة نشاط</h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form asp-action="InsertActivity" method="post">
                            <div class="row">
                                @* <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="" for="" class="mb-1">الجهة التابعة للنشاط</label>
                                    <input asp-for="Club.Site.SiteCode" type="text" class="form-control">
                                </div><!-- END ITEM --> *@
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ClubId" class="mb-1"></label>
                                    <select asp-for="ClubId" class="form-control">
                                        <option value="1" selected>نادي الذكاء الإصطناعي</option>
                                        <option value="2">نادي الأمن السيبراني</option>
                                        <option value="3">نادي تعلم الأقران</option>
                                        <option value="4">نادي ساند تيك</option>
                                    </select>
                                </div><!-- END ITEM -->
                            </div>
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ActivityTopic" class="mb-1"></label>
                                    <input asp-for="ActivityTopic" type="text" class="form-control">
                                    <span style="color:red" asp-validation-for="ActivityTopic"></span>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ActivityDescription" class="mb-1"></label>
                                    <input asp-for="ActivityDescription" type="text" class="form-control">
                                    <span style="color:red" asp-validation-for="ActivityDescription"></span>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ActivityStartDate"></label>
                                    <input asp-for="ActivityStartDate" type="date" class="form-control">
                                    <span style="color:red" asp-validation-for="ActivityStartDate"></span>

                                    <input asp-for="ActivityTime" type="time" class="form-control">
                                    <span style="color:red" asp-validation-for="ActivityTime"></span>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ActivityEndDate"></label>
                                    <input asp-for="ActivityEndDate" type="date" class="form-control">
                                    <span style="color:red" asp-validation-for="ActivityEndDate"></span>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ActivityLocation" class="mb-1"></label>
                                    <input asp-for="ActivityLocation" type="text" class="form-control">
                                    <span style="color:red" asp-validation-for="ActivityLocation"></span>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ActivityPoster" class="mb-1"></label>
                                    <input asp-for="ActivityPoster" type="file" id="ImageUpload"
                                           name="ActivityPoster" name="ActivityPoster" accept="image/*" class=" form-control"></input>
                                    <span style="color:red" asp-validation-for="ActivityPoster"></span>
                                </div><!-- END ITEM -->


                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary px-5" title="save">حفظ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Page Wrap -->
