@model IEnumerable<ActivityRequestViewModel>

<!-- Start Page Wrap -->
<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-3">
                <h5 class="m-0">الطلبات</h5>
                <div class="d-flex gap-2">
                    <div class="form-group">
                        <input type="text" class="form-control table__quick_search"
                               placeholder="البحث السريع ...">
                    </div>
                </div>
            </div>

            <div class="block-body">
                <table class="table table-hover js-dataTable">
                    <thead>
                        <tr>
                            <th>عنوان الطلب</th>
                            <th>النادي التابع للطلب</th>
                            <th>حالة الطلب</th>
                            <th>الإجراءات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr>
                                <td colspan="4" class="text-center text-muted">لا توجد طلبات لعرضها حالياً</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ActivityTopic</td>
                                    <td>@(item.ClubNameAR ?? "غير محدد")</td>
                                    <td>@item.StatusTypeAr</td>
                                    <td class="text-end">
                                        <a href="@Url.Action("RequestDetails", "ActivityRequest", new { id = item.Guid })"
                                           class="btn btn-sm btn-primary">عرض التفاصيل</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
<!-- End Page Wrap -->