@model tblAnnouncement
<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">إضافة إعلان</h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form action="">
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">الجهة </label>
                                    </div>
                                    <select id="Sites" name="Sites">
                                        <option value="ccsit" selected>كلية علوم الحاسب وتقنية المعلومات</option>
                                        <option value="Engineering">كلية الهندسة</option>
                                        <option value="Business">كلية الإدارة</option>
                                        <option value="students">عمادة شؤون الطلاب</option>
                                    </select>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">النادي </label>
                                    </div>
                                    <select asp-for="ClubId" id="Clubs" name="Clubs">
                                        <option value="AI" selected>نادي الذكاء الإصطناعي</option>
                                        <option value="CS">نادي الأمن السيبراني</option>
                                        <option value="PTI">نادي تعلم الأقران</option>
                                        <option value="Sanid">نادي ساند تيك</option>
                                    </select>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">موضوع الإعلان </label>
                                        <input asp-for="AnnouncementTopic" type="text" placeholder="موضوع الإعلان" class="form-control">
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">نوع الإعلان </label>
                                    </div>
                                    <select asp-for="AnnouncementType" id="AnnouncementType" name="AnnouncementType">
                                        <option value="Announcement" selected>إعلان نشاط</option>
                                    </select>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">تفاصيل الإعلان</label>
                                        <textarea asp-for="AnnouncementDetails" name="" class="form-control" placeholder="تفاصيل النشاط"
                                                  rows="3" id=""></textarea>
                                    </div>
                                </div><!-- END ITEM -->
                                
                              
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="" class="mb-1">إرفاق صورة</label>
                                        <input asp-for="AnnouncementImage" type="file" id="ImageUpload" name="AnnouncementImage" accept="image/*  class="form-control">
                                    </div>
                                </div><!-- END ITEM -->

                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary px-5" title="save">حفظ</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>



    </div>
</section><!-- End Page Wrap -->
